@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Light.ttf); }

div {
  font-family: Roboto; }

.loading-container {
  position: center;
  opacity: 0;
  animation: mymove 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  background-color: #383B3D; }

@keyframes mymove {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#spinner {
  position: relative;
  top: 45%; }

#hideMe {
  position: relative;
  left: 50%;
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 2s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden; } }

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden; } }

.container {
  font-family: Lucida Bright;
  text-align: center;
  padding: 10%; }

#container-text {
  position: center;
  font: helvetica;
  padding: 5%; }

img {
  padding-top: 10px;
  padding-bottom: 10px; }

header {
  width: auto;
  height: auto;
  text-align: center;
  background-color: white; }

.location {
  font-family: Lucida Bright;
  background-color: #E6E5E5;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

footer {
  background-color: #383B3D;
  color: white;
  padding: 35px;
  line-height: 1.5; }

footer a {
  color: white;
  text-decoration: none;
  font-family: Calibri;
  display: block; }

.footer-icon {
  color: white;
  display: inline-block;
  width: 15px; }

a {
  text-decoration: none;
  color: black; }

strong {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px; }

i {
  padding-right: 14px; }

p {
  font-family: helvetica;
  text-align: left;
  letter-spacing: -1px;
  line-height: 10px; }

small {
  position: relative;
  right: 30px;
  display: inline-block;
  text-align: center;
  padding: .5px;
  border: solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #F7F7F7;
  border-color: #B670CE;
  background-color: #B670CE; }

#order {
  font-size: 17.5px;
  font-family: Calibri;
  color: white;
  width: 225px;
  border: none;
  border-radius: 25px;
  height: 50px;
  background: gradient(168deg, #FF79DA, #9356DC);
  box-shadow: 5px 8px 5px 1px #EDE9E9; }

.heading-image {
  height: 35px;
  width: 230px; }

.bottom-image {
  filter: invert(100%);
  height: 20px;
  width: 100px; }

.how {
  text-align: center;
  background-color: white;
  padding: .5%; }

.btn-group {
  font-family: sans-serif;
  text-align: auto;
  display: flex;
  padding: 3%;
  background-color: white; }

.btn-primary {
  font-family: helvetica;
  background-color: #F7F7F7;
  padding: 30px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 8px 5px 1px #EDE9E9;
  margin: 35px; }

.btn-primary:hover {
  background-color: #EDD6F5;
  box-shadow: 5px 8px 5px 1px #E6E2E2; }

.restaurants {
  background-color: #F7F7F7;
  text-indent: 30px;
  padding-top: 40px;
  padding-bottom: 60px; }

#restaurant-text {
  text-align: center; }

.restaurant-card {
  position: relative; }

.image-container {
  background-color: white;
  padding-top: 0%;
  padding-bottom: 75px;
  border-radius: 20px;
  width: 340px;
  height: 180px;
  margin: auto;
  margin-top: 30px;
  line-height: 0.2;
  box-shadow: 5px 8px 5px 1px #EDE9E9;
  border-radius: 40px 40px 25px 25px; }

.menu-image {
  padding-top: 0%;
  border-radius: 20px;
  width: 340px;
  height: 180px;
  position: relative;
  right: 30px; }

.heart-home {
  position: absolute;
  right: 20px;
  bottom: 20px; }
  .heart-home .outline {
    opacity: 1; }
  .heart-home .solid {
    opacity: 0; }

.heart-home:hover .outline {
  opacity: 0; }

.heart-home:hover .solid {
  opacity: 1;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 90px; }

/*----menu css----*/
.restaurant-name {
  font-family: Shrikhand;
  text-align: center;
  padding-top: 5px; }

#restaurant-name {
  font-family: Shrikhand;
  text-align: center;
  padding-top: 5px; }

.menu-heart {
  position: relative;
  left: 235px;
  bottom: 70px; }

.flex-container {
  display: flex;
  flex-wrap: nowrap; }

.flex-container > div {
  position: absolute;
  top: 15px;
  left: 130px; }

.fa-arrow-left {
  color: black; }

.rest-image {
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
  background-color: white; }

.menu-page-image {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 40px 40px 0px 0px; }

.nc {
  background-color: #F7F7F7; }

.menu-container {
  position: relative;
  bottom: 60px;
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px; }

.part {
  font-family: Lucida Bright;
  position: relative;
  left: 45%;
  padding-top: 30px; }

.underline {
  background-color: #99E2D0;
  position: relative;
  height: 4px;
  border: none;
  width: 65px;
  bottom: 7px;
  text-align: left;
  margin: 0px; }

.food {
  opacity: 0;
  height: 90px;
  text-align: left;
  margin: auto;
  margin-top: 17px;
  position: relative;
  animation-name: load;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0ms; }

@keyframes load {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    background-color: #F7F7F7;
    opacity: 1; } }

.food:nth-child(1) {
  animation-delay: 3s; }

.food:nth-child(2) {
  animation-delay: 3.5s; }

.food:nth-child(3) {
  animation-delay: 4s; }

.food:nth-child(4) {
  animation-delay: 4.5s; }

#btn-container {
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center; }

#order-btn {
  font-size: 17.5px;
  text-align: center;
  font-family: Calibri;
  color: white;
  width: 200px;
  border: none;
  border-radius: 25px;
  height: 50px;
  background-image: linear-gradient(168deg, #FF79DA, #9356DC);
  box-shadow: 5px 8px 5px 1px #EDE9E9; }

.anime {
  background-color: white;
  padding-top: 1.5px;
  padding-left: 10px;
  padding-bottom: 1px;
  border-radius: 23px;
  text-align: left;
  margin: auto;
  box-shadow: 0.7px 5px #EDE9E9;
  display: block;
  width: 445px;
  height: 90px;
  line-height: -10px;
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  position: relative;
  transition: all .35s; }

.anime span {
  position: relative;
  z-index: 2;
  font-family: Lucida Bright; }

.anime:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 90px;
  background: #99E2D0;
  transition: all .35s;
  visibility: hidden;
  padding-top: 1.5px;
  padding-left: 10px;
  padding-bottom: 1px;
  border-radius: 0px 23px 23px 0px;
  font-family: Roboto; }

.anime:hover:after {
  width: 15%;
  visibility: visible; }

.check {
  right: 5px;
  top: 30px;
  position: absolute;
  display: none;
  z-index: 3;
  transition: right .35s;
  color: white;
  font-size: 35px; }

.anime:hover .check {
  animation: spin .35s linear;
  display: block; }

@keyframes spin {
  0% {
    transform: translate(25px) rotate(0deg); }
  100% {
    transform: translate(0px) rotate(360deg); } }

.price {
  position: relative;
  right: 37px;
  bottom: 20px;
  text-align: right;
  padding-right: 40px; }
