$color_1: white;
$font_family_1: Lucida Bright;
$font_family_2: Calibri;
$font_family_3: sans-serif;
$font_family_4: helvetica;
$background_color_1: #FBFBFB;
$background_color_2: #383B3D;
$background_color_3: lightblue;
$background_color_4: black;

.container {
	background-color: $background_color_1;
	font-family: $font_family_1;
	text-align: center;
	padding: 10%;
}
img {
	padding-top: 10px;
	padding-bottom: 10px;
}
header {
	width: auto;
	height: auto;
	text-align: center;
}

a {
	text-decoration: none;
}
strong {
	font-family: $font_family_3;
	font-size: 23px;
}
i {
	padding-right: 14px;
}
p {
	font-family: $font_family_4;
}

body {
	position: static;
	margin: 0 auto;
}

#order {
	font-size: 17.5px;
	font-family: $font_family_2;
	color: $color_1;
	width: 250px;
	border: none;
	border-radius: 25px;
	height: 50px;
	background-image: linear-gradient(168deg, #FF79DA, #9356DC);
}

.heading-image {
	height: 35px;
	width: 230px;
}

.bottom-image {
	filter: invert(100%);
	height: 20px;
	width: 100px;
}
#btn-group {
	font-family: $font_family_3;
	text-align: auto;
	display: block;
	padding: 3%;
}

.btn-center{
	width: 30%;
	display: grid;
}

.btn-primary {
	border: none;
	color: $background_color_4;
	display: block;
	transition: all 0.5s;
} 

.btn-primary:hover {
}

.restaurants {
	background-color: purple;
	text-indent: 30px;
}

.section {
	 font-family: $font_family_1;
	 width: 45px;
	 padding-bottom: 3px;
	 border-bottom: solid #99E2D0;
}
