$color_1: white;
$font_family_1: Lucida Bright;
$font_family_2: Calibri;
$font_family_3: sans-serif;
$font_family_4: helvetica;
$font-family_5: Roboto;
$background_color_1: #FBFBFB;
$background_color_2: #383B3D;
$background_color_3: lightblue;
$background_color_4: black;


@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}

div {
  font-family: Roboto;
}

body {
	margin: 0 auto;
	position: relative;
	width: 100%;
}


.loading-container {
  opacity: 0;
  animation: mymove 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes mymove {
  from {opacity:0;}
  to {opacity:1 }
}

#spinner {
	position: relative;
	left: 130px;
	top: 200px;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.container {
	font-family: $font_family_1;
	text-align: center;
	padding: 10%;
}

#container-text {
	padding: 5%;
}

img {
	padding-top: 10px;
	padding-bottom: 10px;
}
header {
	width: auto;
	height: auto;
	text-align: center;
}

.location {
	font-family: $font_family_1;
	background-color: #E6E5E5;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
  background-color: $background_color_2;
  color: $color_1;
  padding: 35px;
  line-height: 1.5;
}
footer a {
  color: $color_1;
  text-decoration: none;
  font-family: $font_family_2;
  display: block;
}
.footer-icon {
  color: $color_1;
  display: inline-block;
  width: 15px; 
}

a {
	text-decoration: none;
}
strong {
	font-family: Arial;
	font-size: 18px;
}

h1 {
	font-size: 25px;
}

h2 {
	font-family: Arial;
}

h3 {
	font-family: $font_family_4;
}

i {
	padding-right: 14px;
}
p {
	font-family: $font_family_4;
	text-align: left;
	letter-spacing: -1px;
	line-height:-10px;
}

small {
	position: relative;
	right: 30px;
	display: inline-block;
	text-align: center;
	padding: .5px;
	border: solid;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	color: #F7F7F7;
	border-color: #B670CE;
	background-color: #B670CE;
}

#order {
	font-size: 17.5px;
	font-family: $font_family_2;
	color: $color_1;
	width: 225px;
	border: none;
	border-radius: 25px;
	height: 50px;
	background: gradient(168deg, #FF79DA, #9356DC);
	box-shadow: 5px 8px 5px 1px #EDE9E9;
}

.heading-image {
	height: 35px;
	width: 230px;
}

.bottom-image {
	filter: invert(100%);
	height: 20px;
	width: 100px;
}

#btn-group {
	font-family: $font_family_3;
	text-align: auto;
	display: block;
	padding: 3%;
	background-color: white;
}

.btn-center{
	display: grid;
	width: 30%;
	margin: 50px;
}

.btn-primary {
	font-family: $font_family_4;
	background-color: #F7F7F7;
	font-size: 15px;
	text-align: left;
	padding: 20px;
	border: none;
	display: center;
	width: 300px;
	border: none;
	border-radius: 25px;
	height: 70px;
	box-shadow: 5px 8px 5px 1px #EDE9E9;
	margin: 15px;
} 

.btn-primary:hover {
	background-color: #EDD6F5;
	box-shadow: 5px 8px 5px 1px #E6E2E2;
}

.restaurants {
	background-color: #F7F7F7;
	text-indent: 30px;
	padding-top: 40px;
	padding-bottom: 60px;
}

.image-container {
	background-color: $color_1;
	padding-bottom: 75px;
	border-radius: 20px;
	width: 340px;
	height: 180px;
	margin: auto;
	margin-top: 30px;
	line-height: 0.2;
	box-shadow: 5px 8px 5px 1px #EDE9E9;
	border-radius: 40px 40px 25px 25px;
}

.menu-image {
	padding-top: 0%;
	border-radius: 20px;
	width: 340px;
	height: 180px;
	position: relative; 
	right: 30px;
}


.restaurant-card {
	position: relative;
}

.heart-home {
	position: relative;
	left: 275px;
	bottom: 50px;

	.outline{
		opacity: 1;
	}

	.solid {
		opacity: 0;
	}
}



.heart-home:hover {
    .outline {
    	opacity: 0;
    }
    .solid {
    	opacity: 1;
    	background: -webkit-linear-gradient(#FF79DA, #9356DC);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
    }

}


.restaurant-wrapper {
	display: center;
	flex-wrap: wrap;
	justify-content: space-between;
}


/*----menu css----*/


.restaurant-name {
	text-align: left;
	padding-left: 75px;
	font-family: Shrikhand;
}

#restaurant-name {
	text-align: left;
	padding-left: 75px;
	font-family: Shrikhand;
}

.menu-heart {
	right: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
	position: absolute;
	top: 15px;
	left: 30px;
}

.fa-arrow-left{
	color: black;
}

.menu-page-image {
	height: 300px;
	width: 474px;
	top: 50px;
	position: relative;
}



// .far fa-heart {
//   position: relative;
// }

// #heart-box {
//   position: relative;
//   right: 75px;
//   top: -15px;
//   margin: 0;
//   padding: 0;
//   color: #c7c3c8;
// }

#background {
	background-color: #F7F7F7;
	position: absolute;
	border-radius: 40px 40px 0px 0px;
	z-index: 2;
}

.menu-container {
	font-size: 15px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.part {
	 font-family: $font_family_1;
	 position: relative;
	 padding-top: 30px;
}

.underline {
  background-color: #99E2D0;
  position: relative;
  height: 4px;
  border: none;
  width: 40px;
  bottom: 7px;
  text-align: left;
  margin: 0px;
}

.food {
    
    opacity: 0;
	height: 90px;
	text-align: left;
	margin: auto;
	margin-top: 17px;
	position: relative;
    animation-name: load;
    animation-duration: 0.5s;  
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

@keyframes load {
  from {bottom: -100px; opacity: 0;}
  to {bottom: 0px; background-color: #F7F7F7;  opacity: 1;}
}

.food:nth-child(1) { animation-delay: 3s }
.food:nth-child(2) { animation-delay: 3.5s }
.food:nth-child(3) { animation-delay: 4s }
.food:nth-child(4) { animation-delay: 4.5s }

#btn-container {
	padding-top: 100px;
	padding-bottom: 25px;
}

#order-btn {
	font-size: 17.5px;
	text-align: center;
	font-family: $font_family_2;
	color: $color_1;
	width: 200px;
	border: none;
	border-radius: 25px;
	height: 50px;
	background-image: linear-gradient(168deg, #FF79DA, #9356DC);
	box-shadow: 5px 8px 5px 1px #EDE9E9;
}

.anime {
  background-color: white;
  padding-top: 1.5px;
  padding-left: 10px;
  padding-bottom: 1px;
  border-radius: 23px;
  text-align: left;
  margin: auto;
  box-shadow: 0.7px 5px #EDE9E9;
  display: block;
  width: 445px;
  height: 90px;
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  position: relative;
  transition: all .35s;
}

.anime span {
  position: relative;
  z-index: 2;
  font-family: $font_family_1;
}

.anime:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 90px;
  background: #99E2D0;
  transition: all .35s;
  visibility: hidden;
  padding-top: 1.5px;
	padding-left: 10px;
	padding-bottom: 1px;
	border-radius: 0px 23px 23px 0px;
	font-family: $font-family_5;
}

.anime:hover:after {
  width: 15%;
  visibility: visible;
}


.check {
  right: 5px;
  top: 30px;
  position: absolute;
  display: none;
  z-index: 3;
  transition: right .35s;
  color: white;
  font-size: 35px;
}

.anime:hover .check {
   animation:spin .35s linear;
   display: block;
} 


@keyframes spin {
  0% {
    transform: translate(25px) rotate(0deg);
  }
  100% {
    transform: translate(0px) rotate(360deg);
  }
} 

.price {
	position: relative;
	right: 40px;
	bottom: 40px;
	text-align: right;
	padding-right: 40px;
}